# Premier League Player Data Cleaning

In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## 1. Data Loading and Initial Inspection
Initial loading and examination of Premier League player statistics for the 2024-25 season.

In [24]:
df=pd.read_csv('../data/raw/fbref_PL_2024-25.csv')

In [25]:
df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,1,Max Aarons,eng ENG,DF,Bournemouth,24.0,2000.0,3,1,86,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,2,Joshua Acheampong,eng ENG,DF,Chelsea,18.0,2006.0,4,2,170,...,0.00,0.00,0.00,0.00,0.00,0.12,0.00,0.12,0.12,0.12
2,3,Tyler Adams,us USA,MF,Bournemouth,25.0,1999.0,28,21,1965,...,0.00,0.14,0.14,0.00,0.14,0.07,0.05,0.12,0.07,0.12
3,4,Tosin Adarabioyo,eng ENG,DF,Chelsea,26.0,1997.0,22,15,1409,...,0.06,0.06,0.13,0.06,0.13,0.06,0.01,0.07,0.06,0.07
4,5,Simon Adingra,ci CIV,"FW,MF",Brighton,22.0,2002.0,29,12,1097,...,0.16,0.16,0.33,0.16,0.33,0.20,0.20,0.40,0.20,0.40

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rk          574 non-null    int64
 1   Player      574 non-null    object
 2   Nation      570 non-null    object
 3   Pos         574 non-null    object
 4   Squad       574 non-null    object
 5   Age         570 non-null    float64
 6   Born        570 non-null    float64
 7   MP          574 non-null    int64
 8   Starts      574 non-null    int64
 9   Min         574 non-null    int64
 10  90s         574 non-null    float64
 11  Gls         574 non-null    int64
 12  Ast         574 non-null    int64
 13  G+A         574 non-null    int64
 14  G-PK        574 non-null    int64
 15  PK          574 non-null    int64
 16  PKatt       574 non-null    int64
 17  CrdY        574 non-null    int64
 18  CrdR        574 non-null    int64
 19  xG          574 non-null    float64
 20  npxG        574 non-null    float64
 21  xAG         574 non-null    float64
 22  npxG+xAG    574 non-null    float64
 23  PrgC        574 non-null    int64
 24  PrgP        574 non-null    int64
 25  PrgR        574 non-null    int64
 26  Gls.1       574 non-null    float64
 27  Ast.1       574 non-null    float64
 28  G+A.1       574 non-null    float64
 29  G-PK.1      574 non-null    float64
 30  G+A-PK      574 non-null    float64
 31  xG.1        574 non-null    float64
 32  xAG.1       574 non-null    float64
 33  xG+xAG      574 non-null    float64
 34  npxG.1      574 non-null    float64
 35  npxG+xAG.1  574 non-null    float64
dtypes: float64(17), int64(15), object(4)
memory usage: 161.6+ KB

In [27]:
df.describe()

,Rk,Age,Born,MP,Starts,Min,90s,Gls,Ast,G+A,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
count,574.000000,570.000000,570.000000,574.000000,574.000000,574.000000,574.000000,574.000000,574.000000,574.000000,...,574.000000,574.000000,574.000000,574.000000,574.000000,574.000000,574.000000,574.000000,574.000000,574.000000
mean,287.500000,25.098246,1998.526316,20.151568,14.564460,1308.240418,14.535366,1.885017,1.400697,3.285714,...,0.108362,0.080767,0.189233,0.103659,0.184564,0.142909,0.094059,0.236603,0.138171,0.231777
std,165.843802,4.450568,4.476477,12.230609,12.304536,1053.645962,11.707284,3.537979,2.253498,5.218296,...,0.179531,0.156157,0.264714,0.172322,0.257252,0.287692,0.120146,0.329482,0.284002,0.324603
min,1.000000,15.000000,1985.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,144.250000,22.000000,1996.000000,9.000000,3.000000,331.250000,3.700000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.012500,0.010000,0.050000,0.010000,0.050000
50%,287.500000,25.000000,1999.000000,21.000000,12.000000,1103.500000,12.250000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.090000,0.000000,0.085000,0.070000,0.060000,0.140000,0.070000,0.140000
75%,430.750000,28.000000,2002.000000,32.000000,25.000000,2204.000000,24.500000,2.000000,2.000000,4.000000,...,0.150000,0.127500,0.290000,0.140000,0.290000,0.190000,0.140000,0.347500,0.170000,0.340000
max,574.000000,39.000000,2008.000000,38.000000,38.000000,3420.000000,38.000000,29.000000,18.000000,47.000000,...,1.640000,2.650000,2.650000,1.640000,2.650000,5.060000,1.450000,5.060000,5.060000,5.060000

## 2. Column Name Standardization
### Issue: Duplicate Column Names
Some statistics have duplicate columns with different purposes:
- First instance: Raw values (e.g., `Gls`, `Ast`)
- Second instance: Per 90 minutes values (e.g., `Gls.1`, `Ast.1`)

### Solution:
Renamed second instances to include '/90s' suffix for clarity:
- `Gls.1` → `Gls/90s`
- `Ast.1` → `Ast/90s`
- etc.

In [28]:
isSimilar = (df['Gls'] / df['90s']).round(2) == df['Gls.1']

isSimilar.head(30)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17    False
18     True
19    False
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
dtype: bool

In [29]:
df=df.rename(columns={'Gls.1':'Gls/90s','Ast.1':'Ast/90s','G+A.1':'G+A/90s','G-PK.1':'G-PK/90s','xG.1':'xG/90s','xAG.1':'xAG/90s','npxG.1':'npxG/90s','npxG+xAG.1':'npxG+xAG/90s'})

## 3. Missing Data Handling
### Issue: Missing Player Information
Found 4 players with missing demographic data (Age, Born, Nation)

In [30]:
df.isnull().sum().sort_values(ascending=False)

Nation          4
Age             4
Born            4
Rk              0
Pos             0
Player          0
Squad           0
MP              0
Starts          0
Min             0
90s             0
Gls             0
Ast             0
G+A             0
G-PK            0
PK              0
PKatt           0
CrdY            0
CrdR            0
xG              0
npxG            0
xAG             0
npxG+xAG        0
PrgC            0
PrgP            0
PrgR            0
Gls/90s         0
Ast/90s         0
G+A/90s         0
G-PK/90s        0
G+A-PK          0
xG/90s          0
xAG/90s         0
xG+xAG          0
npxG/90s        0
npxG+xAG/90s    0
dtype: int64

In [31]:
df[df.isnull().any(axis=1)]

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Gls/90s,Ast/90s,G+A/90s,G-PK/90s,G+A-PK,xG/90s,xAG/90s,xG+xAG,npxG/90s,npxG+xAG/90s
17,18,Olabade Aluko,NaN,DF,Leicester City,NaN,NaN,1,0,2,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
171,172,Jake Evans,NaN,FW,Leicester City,NaN,NaN,4,0,24,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
327,328,Mateus Mane,NaN,MF,Wolves,NaN,NaN,1,0,2,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
359,360,Jeremy Monga,NaN,"FW,MF",Leicester City,NaN,NaN,7,0,112,...,0.0,0.0,0.0,0.0,0.0,0.13,0.01,0.14,0.13,0.14

In [32]:
missing_players = {
    "Jake Evans":  {"Age": 17.0, "Born": 2008.0, "Nation": "eng ENG"},
    "Jeremy Monga": {"Age": 16.0, "Born": 2009.0, "Nation": "eng ENG"},
    "Mateus Mane":  {"Age": 17.0, "Born": 2007.0, "Nation": "pt POR"},
    "Olabde Aluko": {"Age": 18.0, "Born": 2006.0, "Nation": "eng ENG"}
}

for player,values in missing_players.items():
    for col,val in values.items():
        df.loc[df["Player"]==player,col]=val

## 4. Data Type Consistency
### Changes Made:
- Converted 'Age' to Int64
- Converted 'Born' to Int64

In [33]:
df.dtypes

Rk                int64
Player           object
Nation           object
Pos              object
Squad            object
Age             float64
Born            float64
MP                int64
Starts            int64
Min               int64
90s             float64
Gls               int64
Ast               int64
G+A               int64
G-PK              int64
PK                int64
PKatt             int64
CrdY              int64
CrdR              int64
xG              float64
npxG            float64
xAG             float64
npxG+xAG        float64
PrgC              int64
PrgP              int64
PrgR              int64
Gls/90s         float64
Ast/90s         float64
G+A/90s         float64
G-PK/90s        float64
G+A-PK          float64
xG/90s          float64
xAG/90s         float64
xG+xAG          float64
npxG/90s        float64
npxG+xAG/90s    float64
dtype: object

In [34]:
df['Age']=pd.to_numeric(df["Age"],errors='coerce').astype('Int64')
df['Born']=pd.to_numeric(df["Born"],errors='coerce').astype('Int64')

In [35]:
df.dtypes

Rk                int64
Player           object
Nation           object
Pos              object
Squad            object
Age               Int64
Born              Int64
MP                int64
Starts            int64
Min               int64
90s             float64
Gls               int64
Ast               int64
G+A               int64
G-PK              int64
PK                int64
PKatt             int64
CrdY              int64
CrdR              int64
xG              float64
npxG            float64
xAG             float64
npxG+xAG        float64
PrgC              int64
PrgP              int64
PrgR              int64
Gls/90s         float64
Ast/90s         float64
G+A/90s         float64
G-PK/90s        float64
G+A-PK          float64
xG/90s          float64
xAG/90s         float64
xG+xAG          float64
npxG/90s        float64
npxG+xAG/90s    float64
dtype: object

## 5. Nationality Standardization
### Issue:
Nation data not following ISO2 standard format (e.g., "eng ENG")

### Solution:
Standardized to use only the three-letter country code (e.g., "ENG")

In [36]:
df['Nation'].sort_values()

70      al ALB
318     ar ARG
182     ar ARG
13      ar ARG
12      ar ARG
        ...
559    wls WAL
371     xk KVX
116     zm ZAM
368     zw ZIM
17         NaN
Name: Nation, Length: 574, dtype: object

In [37]:
df['Nation']=df['Nation'].str.split(" ",expand=True)[1]
df['Nation']

0      ENG
1      ENG
2      USA
3      ENG
4      CIV
      ...
569    ENG
570    UKR
571    UKR
572    NED
573    NOR
Name: Nation, Length: 574, dtype: object

## 6. Feature Engineering
Added performance comparison metrics:
- `XG-Overperformance`: Goals scored vs Expected Goals (Gls - xG)
- `xAG-Overperformance`: Assists vs Expected Assists (Ast - xAG)

These metrics will help analyze player performance against expectations in the EDA phase.

In [38]:
df['XG-Overperformance']=(df['Gls']-df['xG']).round(2)
df['XG-Overperformance']

0      0.0
1     -0.2
2     -1.6
3      0.1
4     -0.5
      ...
569    0.7
570   -1.3
571   -0.6
572   -1.8
573   -1.8
Name: XG-Overperformance, Length: 574, dtype: float64

In [39]:
df['xAG-Overperformance']=(df['Ast']-df['xAG']).round(2)
df['xAG-Overperformance']

0      0.0
1      0.0
2      2.0
3      0.8
4     -0.5
      ...
569    0.7
570    0.3
571    0.8
572   -0.5
573    2.6
Name: xAG-Overperformance, Length: 574, dtype: float64

In [40]:
df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,G+A/90s,G-PK/90s,G+A-PK,xG/90s,xAG/90s,xG+xAG,npxG/90s,npxG+xAG/90s,XG-Overperformance,xAG-Overperformance
0,1,Max Aarons,ENG,DF,Bournemouth,24,2000,3,1,86,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
1,2,Joshua Acheampong,ENG,DF,Chelsea,18,2006,4,2,170,...,0.00,0.00,0.00,0.12,0.00,0.12,0.12,0.12,-0.2,0.0
2,3,Tyler Adams,USA,MF,Bournemouth,25,1999,28,21,1965,...,0.14,0.00,0.14,0.07,0.05,0.12,0.07,0.12,-1.6,2.0
3,4,Tosin Adarabioyo,ENG,DF,Chelsea,26,1997,22,15,1409,...,0.13,0.06,0.13,0.06,0.01,0.07,0.06,0.07,0.1,0.8
4,5,Simon Adingra,CIV,"FW,MF",Brighton,22,2002,29,12,1097,...,0.33,0.16,0.33,0.20,0.20,0.40,0.20,0.40,-0.5,-0.5

In [41]:
df.to_csv("../data/processed/players_cleaned.csv")